---
import Layout from "@/layouts/Layout.astro";
import EnergyPicker from "@/components/session/EnergyPicker";
---

<Layout title="Start session">
  <div class="bg-cosmic flex-1 p-4">
    <EnergyPicker client:load />
  </div>
</Layout>
