---
import Layout from "@/layouts/Layout.astro";
import { MaterialFormatManager } from "@/components/material-formats/MaterialFormatManager";
---

<Layout title="Formats -- PomoSapiens">
  <main class="mx-auto max-w-xl px-4 py-8">
    <MaterialFormatManager client:load />
  </main>
</Layout>
